!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Institute Management Software</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://kit.fontawesome.com/210c81289c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="details-table">
        <div class="recent-details">
           <div class="card-header">
               <h2 class="Performers">Top Performers</h2>
               <a href="#" class="btn">View All</a>
           </div>

           <table>
               <thead>
                   <tr>
                       <td>Student</td>
                       <td>Course</td>
                       <td>Instructor</td>
                       <td>Performance</td>
                   </tr>
               </thead>

               <tbody>
                   <tr>
                       <td>Henry</td>
                       <td>SpringBoot</td>
                       <td>Richard</td>
                       <td>95%</td>
                   </tr>
               
                   <tr>
                       <td>Michael</td>
                       <td>Java</td>
                       <td>John</td>
                       <td>90%</td>
                   </tr>
               
                   <tr>
                       <td>Julie</td>
                       <td>ReactJs</td>
                       <td>Mary</td>
                       <td>85%</tr>
                   </tr>
               
                   <tr>
                       <td>Ostwald</td>
                       <td>Python</td>
                       <td>Richard</td>
                       <td>89%</td>
                   </tr>
               
                   <tr>
                       <td>Peter</td>
                       <td>SQL</td>
                       <td>Robert</td>
                       <td>85%</td>
                   </tr>
               </tbody>
           </table>
        </div>
      </div>

</body> 
</html>    